  $accent-color: #2196F3;
  $dark-color: #212121;
  $black-color: #000000;
  $main-color: #757575;
  $white-color: #FFFFFF;
  $shadow-color: 0px 4px 4px rgba(0, 0, 0, 0.15);
  $contacts-link-color: rgba(255, 255, 255, 0.6);
  $hero-color: rgba(47, 48, 58, 0.4);
  $teams-color: #F5F4FA;
  $footer-color: #2F303A;
  $outline-color: tomato;
  $grey-border-color: #eeeeee;
  $grey-border-color-partners: #afb1b8;
  $grey-dark-circle-for-icon: rgba(255, 255, 255, 0.1);
  $activity-color: rgba(47, 48, 58, 0.8);
  $background-modal-color: rgba(0, 0, 0, 0.2);
  $color-border-modal-button: rgba(0, 0, 0, 0.1);
  $acent-overley-portfolio: rgba(33, 150, 243, 0.9);
  $color-border-modal-form: rgba(33, 33, 33, 0.2);
  $button-primary-color: #188ce8;
  $font-family-primary: Roboto, sans-serif;
  $font-family-logo: Raleway, sans-serif;