.activities {
  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.activity-box {
  position: relative;
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-top: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.activity-text-box {
  position: absolute;
  width: 100%;
  top: 224px;
}

.activity-text {
  margin: 0;
  padding: 27px 0;
  color: $white-color;
  background-color: $activity-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}